<div class="1col">
    <h4>{{ flexibleSubtitle }}</h4>
    <h2>{{ flexibleTitle }}</h2>
</div>
<div class="2col">
    {% for image in flexibleImages %}
        <img src="{{ image.src }}" alt="{{ image.title }}"/>
    {% endfor %}
</div>
<div class="2col">
    {{ flexibleText|raw }}
</div>
